<nav class="navbar navbar-default margin-bottom">
  <div class="container-fluid">

    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Compartiendo Espacios</a>
      </div>

        <ul class="nav navbar-nav navbar-right">
			<li>
			  <a href="#" class="margin-top-sm padding-top-zero padding-bottom-zero">
			   <span class="mdi-action-face-unlock"></span>
			   &nbsp;&nbsp;
			   <span class="btn btn-success padding-sm-sides font-navbar-btn" data-toggle="modal" data-target="#signInModal">
			      ENTRAR
			   </span>
			  </a>
			</li>
		</ul>

    </div><!--/.nav-collapse -->

  </div><!--/.container-fluid -->
</nav>