<section class="container clearfix main_section">
  <div id="main_content_outer" class="clearfix">
    <div id="main_content">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Añadir Evento</h4>
            </div>
            <div class="panel-body">
				<%= render 'form' %>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>