<div class="info-content" itemscope itemtype="http://schema.org/Place" id="infobox">      
  <div class="info-adopter">
    <div class="row">
      <div class="col-md-9">
        <a href="" class="info-adopter__adoptor" target="_blank"><i class="fa fa-external-link"></i><span class="info-adoptor__adopter_company">Soriana</span></a>
      </div>
      <div class="col-md-3 text-right">
        <a href="#" class="info-adopter__adopter_social info-adopter__adopter_facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="#" class="info-adopter__adopter_social info-adopter__adopter_twitter" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <div class="info-data">
    <img src="http://placekitten.com/g/75/75" alt="" class="info-data_cover" width="75" height="75">
    <a href="" class="info-data__name" itemprop="name">Paseo Chapultepec</a>
    <p class="info-data__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span class="info-data__address_street" itemprop="streetAddress">Av. Chapultepec</span>
      <span class="info-data__address_locality" itemprop="addressLocality">Guadalajara</span>
      <span class="info-data__address_region" itemprop="addressRegion">JAL</span>
      <span class="info-data__address_postal" itemprop="postalCode">44160</span>
      <span class="info-data__address_gps" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
        <span class="info-data__address_gps_title">GPS:</span>
        <span class="info-data__address_gps_coordinates">52.85630, -8.9594</span>
        <meta itemprop="latitude" content="40.75" />
        <meta itemprop="longitude" content="73.98" />
      </span>
    </p>
    <div class="info-data__action text-center">
      <a href="#" class="btn btn-xs btn-primary">Más información</a> <a href="/reportes/" class="btn btn-xs btn-link">Reportar</a>
    </div>
  </div>
  
</div>