<div class="map-wrapper" id="map-wrapper">
  <div class="map-holder">

    <div id="map-canvas" class="map-canvas"></div>

    <div class="floating-map-menu">
        <%= render "partials/listing/map_menu_bar" %>
    </div>

    <div class="map-options">
        <%= render "partials/listing/map_footer_menu"%>
    </div>

  </div>

  <div class="infobox-wrapper">
        <%= render "/partials/listing/info_box"%>
  </div>

</div>