<div style='font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;'>
  <p style="line-height: 1.6;">Te agradecemos tu interés en adoptar un espacio público de la ciudad de Guadalajara. Con gusto revisaremos la información que nos envias y la disponibilidad del espacio solicitado para ponernos en contacto contigo a la brevedad posible.</p>

  <div style="font-size: 12px;">
  <p><strong>
    Programa Adopta un Espacio<br/>
    Secretaria de Promoción Económica <br/>
    Ayuntamiento Constitucional de Guadalajara, Jal.<br/></strong>
    <small>Marsella 49, Primer piso, Co. Americana, C.P. 44160 - Tel. 52 (33) 36 15 94 83.</small><br/>
    <small>portal.guadalajara.gob.mx</small>
  </p>
<p style="color: #7f8c8d">
    Advertencia legal:<br/>
  Este mensaje y, en su caso, los ficheros anexos son confidenciales, especialmente en lo que  respecta a los datos personales, y se dirigen exclusivamente al destinatario referenciado. Si usted no lo es y lo ha recibido por error o tiene conocimiento del mismo por cualquier motivo, le rogamos que nos lo comunique por este medio y proceda a destruirlo o borrarlo, y que en todo caso se abstenga de utilizar, reproducir, alterar, archivar o comunicar a terceros el presente mensaje y ficheros anexos, todo ello bajo pena de incurrir en responsabilidades legales. Las opiniones contenidas en este mensaje y en los archivos adjuntos, pertenecen exclusivamente a su remitente y no representan la opinión de la institución salvo que se diga expresamente y el remitente esté autorizado para ello. El emisor no garantiza la integridad, rapidez o seguridad del presente correo, ni se responsabiliza de posibles perjuicios derivados de la captura, incorporaciones de virus o cualesquiera otras manipulaciones efectuadas por terceros.
    </p>
  </div>
</div>