<p>
	Bienvenido a la plataforma del programa Adopta un Espacio, le agradecemos el compromiso social y ciudadano que demuestra adoptando un espacio público de nuestra bella ciudad para continuar mejorándola y esperamos que su experiencia en este programa sea satisfactoria.
</p>

<p>En esta plataforma diseñada para mejorar su experiencia como adoptante usted podrá realizar las siguientes funciones:</p>

<ul>
	<li><p>Contactar con las personas encargadas del programa para resolver dudas, inquietudes y hacer llegar sus propuestas de mejora.</p></li>
	<li><p>Conocer sus responsabilidades y tareas como adoptante.</p></li>
	<li><p>Solicitar servicios y ayuda al ayuntamiento relacionada con su espacio adoptado.</p></li>
	<li><p>Levantar reportes a las autoridades sobre personas hacienda mal uso de su espacio adoptado.</p></li>
	<li><p>Evaluar el mantenimiento de otros espacios adoptados en la ciudad.</p></li>
	<li><p>Escribir su experiencia de adopción y leer las de otros adoptantes en el Blog de adoptantes.</p></li>
	<li><p>Contactar con otros usuarios adoptantes e intercambiar experiencias.</p></li>
	<li><p>Enterarte de eventos y actividades que se realizan en los espacios públicos de la ciudad.</p></li>
	<li><p>Evaluar el mantenimiento y aspecto de otros espacios adoptados a través del mapa interactivo de espacios georeferenciados.</p></li>
</ul>