<div class="content-header">
  <div class="building"></div>
  <h1 class="page-heading">
    <div class="pull-right"></div>
    ¡Bienvenido!
  </h1>
  <p>Mejoramos la ciudad fomentando la adopción de espacios públicos con empresas, organizaciones de la sociedad civil, instituciones de educación y ciudadanía social y ambientalmente comprometidos.</p>
</div>
<nav class="navbar navbar-alternative" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Inicio', root_path, :class=>"" %></li>
      <li><%#= link_to 'Adoptar Espacios Públicos', adoptar_path, :class=>"" %></li>
      <li><%#= link_to 'Preguntas y Respuestas', questions_path, :class=>"" %></li>
      <li><%#= link_to 'Documentos', documentos_path, :class=>"" %></li>
      <li><%#= link_to 'Directorio', directorio_path, :class=>"" %></li>
      <li><%#= link_to 'Calendario', calendario_path, :class=>"" %></li>
    </ul>
  </div>
</nav>