<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">

   <a class="navmenu-brand" href="#">
    <b>
      Compartiendo Espacios
    </b>
  </a>

   <ul class="nav navmenu-nav">
     <li class="">
       <a href="/" class="">
        <span class="left">¿QUÉ ES?</span> 
      </a>
     </li>
     <li>
       <a href="/">
        <span class="left">BENIFICIOS </span>
      </a>
     </li>
     <li>
       <a href="#">
        <span class="left"> INDICADORES </span>
      </a>
     </li>
     <li>
       <a href="#">
        <span class="left"> NOTICIAS </span>
      </a>
     </li>
     <li>
       <a href="#">
        <span class="left">CONTACTO </span>
      </a>
     </li>
     <li>
       <a href="#">
        <span class="left">PREGUNTAS 
      </a>
     </li>
   </ul>
</nav>