<nav class="navbar navbar-default margin-bottom hidden-xs">
  <div class="container-fluid">

    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">Compartiendo Espacios</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="">
            <a href="/" class="">
             <span class="left">¿QUÉ ES?</span> 
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="/">
             <span class="left">BENIFICIOS </span>
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="#">
             <span class="left"> INDICADORES </span>
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="#">
             <span class="left"> NOTICIAS </span>
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="#">
             <span class="left">CONTACTO </span>
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="#">
             <span class="left">PREGUNTAS 
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="<%= new_user_session_path %>">
             REGISTRARSE/LOGIN  <span class="glyphicon glyphicon-user colored-circle text-center"></span>
            </a>
          </li>          
        </ul>
      </div>

    </div>

  </div>
</nav>

<div class="navbar navbar-default hidden-md hidden-lg hidden-sm margin-bottom">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="glyphicon glyphicon-option-vertical font-lg"></span>
  </button>
  <a class="navbar-brand" href="/">Compartiendo Espacios</a>
</div>
<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <ul class="nav navbar-nav">
          <li class="">
            <a href="/" class="">
             <span class="left">¿QUÉ ES?</span> 
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="/">
             <span class="left">BENIFICIOS </span>
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="#">
             <span class="left"> INDICADORES </span>
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="#">
             <span class="left"> NOTICIAS </span>
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="#">
             <span class="left">CONTACTO </span>
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="#">
             <span class="left">PREGUNTAS 
             <span class="right">•</span>
           </a>
          </li>
          <li>
            <a href="<%= new_user_session_path %>">
             REGISTRARSE/LOGIN  <span class="glyphicon glyphicon-user colored-circle text-center"></span>
            </a>
          </li>          
        </ul>
</nav>
