<nav class="navbar navbar-obscure margin-bottom">
  <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">Compartiendo Espacios</a>
      </div>


        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="" class="font-slg">
             <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
          </li>          

          <li>
            <a href="" class="font-slg">
             <span class="glyphicon glyphicon-exclamation-sign"></span>
            </a>
          </li>          

          <li>
            <a href="" class="font-slg">
             <span class="glyphicon glyphicon-calendar"></span>
            </a>
          </li>          

          <li class="font-slg padding-navbar">
              |
          </li>

          <li>
            <a href="" class="font-lg">
             <span class="glyphicon glyphicon-calendar"></span>
            </a>
          </li>

          <li>
            <a href="" class="font-lg">
             <span class="glyphicon glyphicon-bell"></span>
            </a>
          </li>

          <li>
            <a href="<%= new_user_session_path %>">
             <span class="glyphicon glyphicon-user colored-circle text-center"></span> ENTRAR / REGISTRARSE
            </a>
          </li>

        </ul>
      
  </div>

</nav>