<div class="bg-secondary-navbar">
	<div class="container">
		<div class="col-md-12">

				<div class="col-md-2 padding-secondary text-center">

					<div class="btn-group">
					    <a href="javascript:void(0)" class="btn btn-primary dropdown-toggle" data-target="#"  data-toggle="dropdown">
					    	Tipos <span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu">
					        <li><a href="javascript:void(0)">Tipo 1</a></li>
					        <li><a href="javascript:void(0)">Tipo 2</a></li>
					        <li><a href="javascript:void(0)">Tipo 3</a></li>
					    </ul>
					</div>
				</div>

				<div class="col-md-8">

					<div class="col-sm-1 secondary-container padding-secondary padding-secondary-items">
						<a href="#">
							<div class="secodary-item text-center">
								<span class="glyphicon glyphicon-asterisk"></span> 
								<br class="hidden-lg"/>
								TODOS
							</div>
						</a>
					</div>

					<div class="col-sm-1 secondary-container padding-secondary padding-secondary-items">
						<a href="#">
							<div class="secodary-item text-center">
								<span class="glyphicon glyphicon-asterisk"></span>
								<br class="hidden-lg"/>
								LIBRE
							</div>
						</a>
					</div>

					<div class="col-sm-2 secondary-container padding-secondary padding-secondary-items">
						<a href="#">
							<div class="secodary-item text-center">
								<span class="glyphicon glyphicon-asterisk"></span>
								<br class="hidden-lg"/>
								ADOPTADO
							</div>
						</a>
					</div>

					<div class="col-sm-2 secondary-container padding-secondary padding-secondary-items">
						<a href="#">
							<div class="secodary-item text-center">
								<span class="glyphicon glyphicon-asterisk"></span>
								<br class="hidden-lg"/>
								PROCESO
							</div>
						</a>
					</div>

					<div class="col-sm-2 secondary-container padding-secondary padding-secondary-items">
						<a href="#">
							<div class="secodary-item text-center">
								<span class="glyphicon glyphicon-exclamation-sign"></span>
								<br class="hidden-lg"/>
								REPORTE
							</div>
						</a>
					</div>

					<div class="col-sm-2 secondary-container padding-secondary padding-secondary-items">
						<a href="#">
							<div class="secodary-item text-center">
								<span class="glyphicon glyphicon-heart"></span>
								<br class="hidden-lg"/>
								FAVORITO
							</div>
						</a>
					</div>

					<div class="col-sm-2 secondary-container padding-secondary padding-secondary-items">
						<a href="#">
							<div class="secodary-item text-center">
								<span class="glyphicon glyphicon-star"></span>
								<br class="hidden-lg"/>
								DESTACADO
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-2 secondary-container text-center padding-secondary-btn">
					<a href="#" class="btn btn-success">
						<span class="glyphicon glyphicon-map-marker"></span>
					</a>
					<a href="#" class="btn btn-warning">
						<span class="glyphicon glyphicon-th-large"></span>						
					</a>
				</div>

		</div>
	</div>
</div>