.qa__listings-container {
	padding: 15px;
  .page-header {
    margin-top: 0;
    h1 {
      font-size: 26px;
      margin-top: 0;
    }
  }
}
.qa__listings-item {
	padding: 20px;
	border-width: 1px;
}
.qa__listings-answer {

}
.qa__listings-item .entry-title {
	margin: 0
}
.qa__listings-item .entry-header,
.qa__listings-item .entry-content {
	margin: 0 0 12px 0;
}
.qa__listings-form {
	padding-top: 15px;
	margin-top: 20px;
}
.qa__listings-form h4 {
	margin-top: 0
}
.qa__comments-listings {
	margin-top: 15px;
}