.map-holder {
	position: relative;
}
@media(max-width: 767px){
	.map-canvas {
		height: 500px !important;
	}
}
.map-canvas {
	height: 570px;
	  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
	&.minimized {
		height: 150px !important
	}
}
.map-options {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.map-options .btn-group {
	background-color: #252a32;
	-webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}
.map-options .btn-group .btn {
	color: #fff !important;
	font-size: 12px;
	font-style: normal;
}
.map-options .btn.active div.text-description{
	text-decoration: underline;
}
.text-description{
	font-size: 12px
}
.btn-footer{
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	min-height: 40px;
}
.btn-transparent {
 background-color: transparent;
}
.map-maximizer {
	background-color: #29333f;
}
.btn-transparent span {
	color : #8D8D8D;
	text-shadow: 1px 1px 1px #5d5d5d;
	margin-bottom: 2px;
	padding : 0 5px;
}

.content-listing {

}
.infobox-wrapper {
	display: none;
}
.info-content {
	position: relative;
	width: 330px;
}
.info-data {
	padding: 15px 15px 50px;
}
.info-data_cover {
	float: left;
	margin-right: 20px !important;
	border-width: 1px;
}
.info-data__name {
	overflow: hidden;
	display: block;
	font-family: Flat-UI-Icons;
}
.info-data__address {

}
.info-data__address_street,
.info-data__address_gps {
	display: block;
}
.info-data__address_locality:after,
.info-data__address_region:after {
	content: ', ';
}
.info-data__address_street {

}
.info-data__address_locality {

}
.info-data__address_region {

}
.info-data__action {
	position: absolute;
	bottom: 10px;
	right: 0;
}
.info-adopter {
	// position: absolute;
	// width: 340px;
	// bottom: 10px;
	// left: 0;
	// padding: 4px 23px;
	// margin-left: -5px;
	position: relative;
	margin-top: 20px;
}
.info-adoptor__adopter_company{
	font-family: Flat-UI-Icons;
	font-size: 15px;
	color: #733317;
	font-weight: bold;
}
.info-adopter__adoptor {}
.info-adopter__adopter_facebook {}
.info-adopter__adopter_facebook {}

.icon-all{
    -webkit-mask-image: url(/assets/ic_filter_tilt_shift_black_24px.svg);
    mask-image: url(/assets/ic_filter_tilt_shift_black_24px.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 15px;
    height:15px;
}
.icon-adopted{
    -webkit-mask-image: url(/assets/sun.svg);
    mask-image: url(/assets/sun.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 15px;
    height:15px;
}
.icon-free{
    -webkit-mask-image: url(/assets/ic_accessibility_black_24px.svg);
    mask-image: url(/assets/ic_filter_tilt_shift_black_24px.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 15px;
    height:15px;
}
.icon-process{
    -webkit-mask-image: url(/assets/ic_rotate_right_black_24px.svg	);
    mask-image: url(/assets/ic_rotate_right_black_24px.svg	);
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 15px;
    height:15px;
}
.icon-featured{
    -webkit-mask-image: url(/assets/heart.svg);
    mask-image: url(/assets/heart.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 15px;
    height:15px;
}
.red{
	color: #f26f6c;
}
.icon-red{
	background-color: red;
}
.icon-white{
	background-color: white;
}
.no-margin-up-down{
	margin-top: 0 !important;
}
.floating-map-menu{
	background-color: white;
	position: absolute;
	left: 35px;
	top: 50px;
	width: 360px
}
.padding-show-buttom{
	padding-top: 10px;
	padding-right:10px;
	padding-left: 10px
}
.black{
	color: black !important;
}
.divider{
	font-size: 25px;
	color: #aaaaaa;
}
.navy-blue{
	color: #7298cf !important;
}
.grey{
	color: #aaaaaa;
}
.strong-blue{
		background-color: #252a32;
}
.white{
	background-color: white
}
.font-white{
	color: white;
}
.font-black{
	color: black;
}
.margin-map-footer{
	margin-bottom: 10px
}
.title-map-footer{
	padding-bottom: 10px;
	padding-top: 10px;
}
.divider-left{
	border-right: 1px solid black;
}
.divider-middle{
	border-right: 1px solid black;
	border-left: 1px solid black;
}
.divider-right{
	border-left: 1px solid-black
}
.btn-free.active{
	background-color: #779a3e;
}
.btn-adopted.active{
	background-color: #0a5c78;
}
.btn-process.active{
	background-color: #b971af;
}
.btn-featured.active{
	background-color: #f28e3d;
}
.no-side-padding{
	padding-left: 0px;
	padding-right: 0px;
}
.hidden-section{
	background-color: #edeeef
}
.icon-calendar{
    -webkit-mask-image: url(/assets/ic_insert_invitation_black_24px.svg);
    mask-image: url(/assets/ic_insert_invitation_black_24px.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 15px;
    height:15px;
}
.icon-black{
	background-color: black
}
.right-hidden-border{
	border-right: 1px solid black;
}
.font-footer-title{
	font-size: 12px;
}
@media(max-width: 767px){
	.title-map-footer{
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
}