.content {
	position: relative;
	margin-left: 270px;
	margin-right: 0px;
	width: auto;
	overflow: hidden;
	z-index: 1;
	min-height: 800px;
	padding-bottom: 0;
}
.content-listing {
	padding: 16px 18px;
}