html {
    background: #9DC365;
}

.content {
	background: #9DC365;
}

#disqus_thread {
    background: #ECF0F1;
    padding: 10px;
}

#flash_notice {
	background: #ECF0F1;
    padding: 10px;	
}

body{
	background-color: transparent !important;
}