/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap/bootstrap.min
 *= require admin/todc-bootstrap.min
 *= require admin/plugins/bootstrap-switch
 *= require admin/plugins/ebro_bootstrapSwitch
 *= require admin/plugins/jquery.fileupload-ui
 *= require admin/plugins/select2
 *= require admin/linecons
 *= require admin/nv.d3.min
 *= require admin/style
 *= require admin/theme/color_1
 */

@import '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css';
.graph__effective-adoption {
  margin: 17px auto
}
.tinynav {
  display: none !important;
}
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}