.margin-bottom{
	margin-bottom: 0 !important;
}
.colored-circle{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	padding-top:2px;
	border-radius: 50%;	
	color: #ddd;
	background: #777777;
	width: 20px;
	height: 20px;
}
.padding-navbar{
	padding-top: 15px;
}
.navbar.navbar, .navbar-obscure.navbar {
    background-color: #252a32 !important;
}
.padding-top-sm{
	padding-top: 10px !important;
}
.padding-bottom-sm{
	padding-bottom: 10px !important;
}
.padding-sm-sides{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.padding-xm-sides{
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.padding-bottom-zero{
	padding-bottom: 0 !important;
}
.font-lg{
  font-size: 15px;
}
.font-slg{
  font-size: 20px;
}
.font-navbar-btn{
	font-size: 12px;
}
.padding-top-zero{
	padding-top: 0px !important;
}
.margin-top-sm{
	margin-top: 8px
}
.navbar-brand{
	padding-bottom: 0px !important;
}
.disabled-anchor{
	color: #555 !important;
}