.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}
.margin-bottom{
	margin-bottom: 0 !important;
}
.colored-circle{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	padding-top:2px;
	border-radius: 50%;	
	color: #ddd;
	background: #777777;
	width: 20px;
	height: 20px;
}
