.margin-bottom{
	margin-bottom: 0 !important;
}
.colored-circle{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	padding-top:2px;
	border-radius: 50%;	
	color: #ddd;
	background: #777777;
	width: 20px;
	height: 20px;
}
.padding-navbar{
	padding-top: 15px;
}
.navbar.navbar, .navbar-obscure.navbar {
    background-color: #252a32 !important;
}
.navbar .navbar-nav > li > a {
    color: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-top-sm{
	padding-top: 10px !important;
}
.padding-bottom-sm{
	padding-bottom: 10px !important;
}
.padding-sm-sides{
	padding-left: 10px !important;
	padding-right: 10px !important;
}